#contadorCarrito {
    font-size: 30px
  }
#boton-carrito {
    margin: 5px;
    margin-right: 10px;
    border: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
  }
#boton-carrito:hover {
    background-color: grey;
  }
.botonnav {
    border-radius: 10px;
  }
.botonnav:hover{
    background-color: #D7D7D7;
  }
  .navbartype {
    width: 100%;
  }
  .navcolor {
    background-color: rgba(0, 0, 0, 0.65);
  }
  .sidebarnav .listasidebar {
    list-style: none;
    margin-bottom: -15px;
  }
  .sidebarnav .listasidebar .links a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    transition: all ease-out 300ms;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 35px;
  }
  .sidebarnav .listasidebar .links a:hover {
    color: white;
  }
  .sidebarnav .listasidebar .links::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    margin-bottom: -25px;
  }
  
  .colorsidebar {
    background-color: #0A0A0A;
  }
  .sidebarnav {
    font-size: 18px;
    transform: translateY(-50%);
    font-weight: bold;
  }
  .text {
    color: white;
    font-size: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .links {
    text-decoration: none;
  }